TZ=Asia/Taipei
PG_NEWS_DSN=postgresql://knowledge:knowledge@host.docker.internal:5433/tw_electronics
PG_TRADING_DSN=postgresql://tmf:tmf_dev_2026@host.docker.internal:5432/tmf_market_data
FALKORDB_HOST=host.docker.internal
FALKORDB_PORT=6380
OLLAMA_BASE_URL=http://host.docker.internal:11434
EMBEDDING_MODEL=bge-m3
GRAPHITI_GROUP_ID=tw-electronics
FINMIND_TOKEN=
